textarea {
    min-height: 400px;
}

#email-sender {
    float: left;
    font-weight: bold;
    width: 200px;
    padding-left: 10px;
    
}

#email-subject {
    float: left;
    width: 500px;   
}

#email-timestamp {
    float: left;
    text-align: right;
    width: 350px;
    padding-right: 10px;
}

.email-read {
    background-color: grey;
}


